.footer1 {
  margin-top: 0px;
  width: 100%;
  min-height: 1120px;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer1__column {
  padding: 172px 0 0 177px; }
  .footer1__column:first-child {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
  .footer1__column:last-child {
    background-color: gray; }
